<!DOCTYPE html>
<html>
<head>
    <title>Гурова</title>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        #app {
            background-color: #f5f5f5;
            padding: 10px;
            border-radius: 5px;
            max-width: 400px;
            margin: 0 auto;
            text-align: center;
        }

        h2 {
            font-size: 24px;
            margin-top: 0px;
        }

        input {
            width: 100%;
            font-size: 36px;
            padding: 10px;
            margin: 10px 0px;
        }

        button {
            font-size: 24px;
            padding: 10px 20px;
            margin: 5px;
            border: none;
            background-color: #4CAF50;
            color: #fff;
            border-radius: 5px;
        }
    </style>
</head>


<body>
    <div id="app">
        <h2>Калькулятор</h2>
        <input type="text" v-model="result" />

        <div class="button-row">
            <button v-for="num in nums" :key="num" @click="append(num)">{{ num }}</button>
        </div>

        <div class="operator-row">
            <button v-for="operator in operators" :key="operator" @click="calculate(operator)">{{ operator }}</button>
        </div>

        <div>
            <button class="clear-button" @click="clear">Очистить</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                result: '',
                nums: [1, 2, 3, 4, 5, 6, 7, 8, 9, 0],
                operators: ['+', '-', '*', '/']
            },
            methods: {
                append(num) {
                    this.result += num;
                },
                calculate(operator) {
                    const expression = this.result;
                    if (!expression) {
                        return;
                    }

                    try {
                        const result = eval(expression);
                        this.result = result;
                    } catch (error) {
                        console.error('Ошибка вычисления выражения', error);
                    }
                },
                clear() {
                    this.result = '';
                }
            }
        });
    </script>
</body>
</html>